<div class="item {% if post.star %}star{% endif %}">
    {% if post.thumbnail %}
        <a class="image-thumb" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" ><img src="{{ post.thumbnail }}" width="200" />
    {% endif %}
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
        <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%d %b %Y" }}</time></aside>
        <h3 class="title">{{ post.title }}</h3>
    </a>
</div>
